@import 'antd/dist/antd.less';

/* 1.header */
.le-header > h1 {
  color: #fff;
}

/* 2.menu */
.le-menu {
  height: calc(100vh - 64px);
}

.ant-layout-sider-zero-width-trigger {
  top: -50px;
  left: 0;
  right: unset;
}

/* 3.content */
.le-main-content {
  padding: 24px;
  min-height: 280;
}
